###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfonycasts/tailwind-bundle ###
/var/tailwind/
###< symfonycasts/tailwind-bundle ###

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Node (si jamais tu ajoutes un outil front complémentaire)
/node_modules/
npm-debug.log
yarn-error.log

# Uploads utilisateurs (images articles, audio podcasts)
/public/uploads/

# Tests
/coverage/

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
